<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freeflix</title>
    <link rel="shortcut icon" href="../img/icone-netflix-1.jpg">

    <link rel="stylesheet" href="../css/style.css">

    <!-- responsividade -->
    <link rel="stylesheet" href="../css/respondive.css">
</head>

<body>
    <header>
        <div class="container">
            <h2 class="logo">FREEFLIX</h2>
            </h1>
            <nav>
                <a href="../../index.html">Inicio</a>
                <a href="../views/filmes.html">Filmes</a>
                <a href="../views/curta-metragem.html">Curta metragem</a>
                <a href="#">Documentários</a>
            </nav>
        </div>
    </header>


    <div class="films-list">
        <div class="container">
            <h1>Curta metragens</h1>
            <div class="cards-container">
                <img src="../img/curta01.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Jester</h3>
                    <p class="date"> 28/10/2016 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Depois de um turno de encerramento na noite de Halloween, um homem se depara com o que parece
                        ser a personificação do
                        próprio Halloween. Doçura ou travessura?
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/HLHjyGNmm5U" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta02.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Jester: Chapter 2</h3>
                    <p class="date"> 01/01/2018 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        O Jester retorna neste curta-metragem de sequência para continuar a espalhar sua alegria de
                        Halloween.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/WzXVFw17FxU" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta03.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Jester: Chapter 3</h3>
                    <p class="date"> 31/10/2019 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Na noite de Halloween, uma jovem não tem ninguém para pedir doces ou travessuras... até que The
                        Jester se oferece para
                        acompanhá-la.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/Cnw0DD45jGY" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta04.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Mannequin</h3>
                    <p class="date"> 05/01/2020 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Durante uma queda de energia, algo se esconde em sua casa.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/9dKkLNh58ss" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta05.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Dolls with Attitude</h3>
                    <p class="date"> 27/03/2017 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Eri quando criança esconde sua dor com um sorriso determinado. Isso leva a uma mudança sem
                        precedentes, transformando-a
                        em uma boneca. Depois de conseguir um contrato de cantora, ela descobre a profundidade do que
                        ela se tornou.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/sQgpdzXHMAM" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta06.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Surrogate</h3>
                    <p class="date"> 01/01/2013 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Um casal, lutando para ter um filho, contrata uma jovem para ser sua barriga de aluguel, mas
                        logo descobre que ela tem
                        uma agenda bizarra e mortal.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/6carcw_riCA" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta07.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">He Took His Skin Off for Me</h3>
                    <p class="date"> 18/10/2014 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Uma história de amor simples e doméstica sobre um homem que tira a pele para sua namorada, e por
                        que provavelmente não
                        foi a melhor ideia...
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/ASByL6mdh2E" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta08.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">Don't Peek</h3>
                    <p class="date"> 25/08/2020 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Enquanto jogava Animal Crossing, uma jovem conhece um personagem de videogame que quer ser
                        solto… Don’t Peek
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/S51jIrunYuY" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta09.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Birch</h3>
                    <p class="date"> 31/10/2019 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        A série gira em torno de um monstro protetor da floresta e de uma adolescente de coração puro,
                        que acaba chamando tal
                        criatura em tempos de crise.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/SxQj0DumF8Y" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/curta10.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">The Thing in the Apartment</h3>
                    <p class="date"> 25/10/2015 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Há algo no apartamento de Lindsay...
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/NcQRty2F19E" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <script src="../js/script.js"></script>

    <!-- icons Awesome -->
    <script src="https://kit.fontawesome.com/946743678b.js" crossorigin="anonymous"></script>
</body>

</html>