<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freeflix</title>
    <link rel="shortcut icon" href="../img/icone-netflix-1.jpg">

    <link rel="stylesheet" href="../css/style.css">

    <!-- responsividade -->
    <link rel="stylesheet" href="../css/respondive.css">
</head>

<body>
    <header>
        <div class="container">
            <h2 class="logo">FREEFLIX</h2>
            <nav>
                <a href="../../index.html">Inicio</a>
                <a href="../views/filmes.html">Filmes</a>
                <a href="../views/curta-metragem.html">Curtas metragens</a>
            </nav>
        </div>
    </header>


    <div class="films-list">
        <div class="container">
            <h1>Filmes</h1>

            <div class="cards-container">
                <img src="../img/filme01.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">Poder Sem Limites</h3>
                    <p class="date"> 02/03/2012 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Após ingerir uma substância misteriosa, três amigos são surpreendidos ao ganhar superpoderes. De
                        início eles os usam
                        para brincar com conhecidos, mas aos poucos ganham a sensação de impunidade e passam a realizar
                        feitos maiores.
                        Sentindo-se invulneráveis, eles ultrapassam qualquer limite quando uma pessoa é morta.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/LktHynXihA4" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/filme02.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">O Mestre</h3>
                    <p class="date"> 02/03/1984 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Um mestre ninja envelhecido e seu jovem aluno viajam em uma van personalizada ajudando pessoas
                        necessitadas ao longo do
                        caminho.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/Xg4TW38jMck" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/filme03.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">Desconhecido</h3>
                    <p class="date"> 25/02/2011 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Martin Harris (Liam Neeson) acabou de sair de um coma de quatro dias, fruto de um acidente de
                        carro em Berlim. Ao
                        acordar, descobre que sua esposa (January Jones) não o reconhece e, para piorar, existe um outro
                        homem (Aidan Quinn)
                        usando sua identidade. Ignorado pelas autoridades e na mira de assassinos, sua única chance de
                        desvendar este mistério é
                        contar com Gina (Diane Kruger), uma motorista de táxi que poderá ajudá-lo a provar que ele não
                        está louco.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/kk_5EO21yvk" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/filme04.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">Demolição</h3>
                    <p class="date"> 08/07/2016 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Um homem bem sucedido, que trabalha em um grande banco de investimentos, entra em processo de
                        colapso emocional depois
                        de perder a sua esposa em um trágico acidente de carro, do qual sobreviveu. Um dia, ele recebe
                        uma ligação da atendente
                        de uma empresa para qual ele continuamente envia cartas de reclamação. Ele não sabe, mas este
                        encontro poderá mudar o
                        rumo da sua vida daquele momento em diante.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/Q3KI4_xKv_4" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/filme05.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">A Profecia</h3>
                    <p class="date"> 02/03/2005 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        A calma cidade de Point Pleasant, em Nova Jersey, recebe uma nova cidadã após ela ser resgatada
                        do oceano. Christina
                        Nickson nunca conheceu a mãe e não é próxima do pai, e agora está com uma família que perdeu uma
                        filha recentemente. O
                        que eles não sabem sobre Christina, e nem ela, é que ela é filha do Satã.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/oSN7Nz1WZX8" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards-container">
                <img src="../img/filme06.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">Lutador de Rua</h3>
                    <p class="date"> 07/02/2009 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Isaiah Bone (Michael Jai White), um ex-presidiário, entra de cabeça no submundo das lutas
                        clandestinas de Los Angeles
                        determinado a cumprir a promessa que fez a um grande amigo já falecido.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/KHWnIZaPHPQ" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="cards-container">
                <img src="../img/filme07.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">O Imbatível III: Redenção</h3>
                    <p class="date"> 22/05/2010 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        A cadeia se torna um ringue quando oito prisioneiros disputam um campeonato internacional. O
                        prêmio para o campeão é a
                        liberdade e muitos dólares para o bolso dos organizadores. Boyka é um furioso russo especialista
                        em artes marciais,
                        pronto para tirar sangue dos adversários.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/rf6MxvS777I" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="cards-container">
                <img src="../img/filme08.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">Que Horas Ela Volta?</h3>
                    <p class="date"> 27/08/2015 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        A pernambucana Val (Regina Casé) se mudou para São Paulo a fim de dar melhores condições de vida
                        para sua filha Jéssica.
                        Com muito receio, ela deixou a menina no interior de Pernambuco para ser babá de Fabinho,
                        morando integralmente na casa
                        de seus patrões. Treze anos depois, quando o menino (Michel Joelsas) vai prestar vestibular,
                        Jéssica (Camila Márdila)
                        lhe telefona, pedindo ajuda para ir à São Paulo, no intuito de prestar a mesma prova. Os chefes
                        de Val recebem a menina
                        de braços abertos, só que quando ela deixa de seguir certo protocolo, circulando livremente,
                        como não deveria, a
                        situação se complica.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/xJ40jj_uDqk" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="cards-container">
                <img src="../img/filme09.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">O Gosto da Vingança</h3>
                    <p class="date"> 31/03/2005 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Sun-woo é o homem de confiança de Kang, um poderoso chefão da máfia. Sua nova missão é vigiar a
                        jovem namorada de Kang
                        para descobrir se ela tem um amante e, se confirmado, assassinar o casal. Quando ele finalmente
                        encontra a garota com
                        outro homem, ao invés de matá-los, Sun-woo resolve ajudar os dois a fugir do mafioso, em uma
                        atitude inesperada e
                        incoerente com sua reputação de assassino frio. Kang, inconformado com a traição, manda matar
                        Sun-woo, que reage com uma
                        vingança sangrenta e brutal.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/UnA2tUsXaLM" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="cards-container">
                <img src="../img/filme10.jpg" alt="">
                <div class="film-content">
                    <h3 class="title">O Jogo da Imitação</h3>
                    <p class="date"> 05/02/2015 </p>
                    <h3 class="synopsis">Sinopse</h3>
                    <p class="description">
                        Em 1939, a recém-criada agência de inteligência britânica MI6 recruta Alan Turing, um aluno da
                        Universidade de
                        Cambridge, para entender códigos nazistas, incluindo o "Enigma", que criptógrafos acreditavam
                        ser inquebrável. A equipe
                        de Turing, incluindo Joan Clarke, analisa as mensagens de "Enigma", enquanto ele constrói uma
                        máquina para decifrá-las.
                    </p>
                    <div class="buttons">
                        <a href="https://youtu.be/Q2xrQ5U0Tbo" target="_blank">
                            <button role="button">
                                <i class="fas fa-play"></i>
                                ASSISTIR
                            </button>
                        </a>
                    </div>
                </div>

            </div>



        </div>
    </div>


    <script src="../js/script.js"></script>

    <!-- icons Awesome -->
    <script src="https://kit.fontawesome.com/946743678b.js" crossorigin="anonymous"></script>
</body>

</html>