<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freeflix</title>
    <link rel="shortcut icon" href="../img/icone-netflix-1.jpg">

    <link rel="stylesheet" href="../css/style.css">

    <!-- responsividade -->
    <link rel="stylesheet" href="../css/respondive.css">
</head>

<body>
    <div id="more-info">
        <div class="container">
            <img src="../img/curta03.jpg" alt="">
            <div class="film-content">
                <h3 class="title">The Jester: Chapter 3</h3>
                <p class="date"> 31/10/2019 </p>
                <h3 class="synopsis">Sinopse</h3>
                <p class="description">
                    Na noite de Halloween, uma jovem não tem ninguém para pedir doces ou travessuras... até que The
                    Jester se oferece para
                    acompanhá-la.
                </p>

                <div class="buttons">
                    <a href="https://youtu.be/Cnw0DD45jGY" target="_blank">
                        <button role="button">
                            <i class="fas fa-play"></i>
                            ASSISTIR
                        </button>
                    </a>
                </div>
            </div>
            <a href="" class="close">X</a>
        </div>
    </div>


    <script src="../js/script.js"></script>

    <!-- icons Awesome -->
    <script src="https://kit.fontawesome.com/946743678b.js" crossorigin="anonymous"></script>
</body>

</html>